# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/static

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# Other
.DS_Store